@media screen and (max-width: 1199px) {
  .signUpCard {
    width: 30vw !important;
  }
}

@media screen and (max-width: 1080px) {
  .signUpCard {
    width: 38vw !important;
  }
  input {
    height: 0.7em !important;
  }
  button {
    padding: 13px 29px;
  }
}

@media screen and (max-width: 767px) {
  .signUpCard {
    width: 48vw !important;
  }
  input {
    height: 0.7em;
  }
}

@media screen and (max-width: 600px) {
  .signUpCard {
    width: 60vw !important;
  }
}